.meritveTeza {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#FFFFFF ;
}
.meritve-visina {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.meritve-temperatura {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.meritve-krvniTlak {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.meritve-kisik {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.voda-plosca {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.vaje-plosca {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
}
.dan-plosca{
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
}
.telovadnice-plosca {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
}