.meritveTeza {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#FFFFFF  ;
}
.meritve-visina {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.meritve-temperatura {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.meritve-krvniTlak {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.meritve-kisik {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.voda-plosca {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.vaje-plosca {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.dan-plosca{
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.telovadnice-plosca {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}