.meritveTeza {
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#FFFFFF ;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.meritve-visina {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.meritve-temperatura {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.meritve-krvniTlak {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.meritve-kisik {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.voda-plosca {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.vaje-plosca {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.dan-plosca{
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.telovadnice-plosca {
    overflow:auto;
    display: none;
    margin: auto;
    width:100%;
    height:100%;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50);
}