.imePlosceTeza {
    width:100%;
    height:10%;
    font-weight:bold;
    text-transform: uppercase;
    font-style: italic;
    font-family: "Courier New", Georgia, Serif;
    text-align: center;
}
.diagramTeza {
    margin: 1% auto;
    width:80%;
    height:50%;
    background-color:black;
}
.datum {
    margin:auto;
    font-weight: bold;
    text-transform: uppercase; 
}
.podatkiPlosca {
    width:80%;
    height:30%;
    color:#000000;
    margin: 2% auto;
    font-weight:bold;
    text-transform: uppercase;
    font-style: italic;
    font-family: "Courier New", Georgia, Serif;
    text-align: left;
}
.ITMplosca {
    width:100%;
    margin:1% auto;
}

#datum {
    width:20%;
}
#uporabnikovaTeza {
    width:50%;
}
#vnesiTezo {
     width:10%;
}