.imePlosceTeza {
    margin: 5% 0 0 5%;
    font-weight:bold;
    text-transform: uppercase;
    height:20%;
    font-size:100%;
    font-style: italic;
    font-family: "Courier New", Georgia, Serif;
}
.diagramTeza {
    margin: 1% auto;
    width:50%;
    height:50%;
    background-color:black;
}
.datum {
    margin: 5% auto;
    font-weight: bold;
    text-transform: uppercase; 
}
.podatkiPlosca {
    background-color:#C8C8C8 ;
    height:9%;
    width:50%;
    margin:auto;
}