.imePlosceTeza {
    width:100%;
}
.imePlosceTeza .h1 {
    font-weight:bold;
    text-transform: uppercase;
    font-style: italic;
    font-family: "Courier New", Georgia, Serif;
    text-align: center;
    font-size:100%;
}
.diagramTeza {
    margin: 1% auto;
    width:80%;
    height:60%;
    background-color:black;
}
.datum {
    margin: 5% auto;
    font-weight: bold;
    text-transform: uppercase; 
}
.podatkiPlosca {
    background-color:#C8C8C8 ;
    height:10%;
    width:80%;
    margin:auto;
}