.prof {
    width:100%;
    height:100%;
    background:url('../slike/water-splash.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
}

.levo {
    float: left;
    background-color:#C8C8C8;
    height:100%;
    width:15%;
    border: 2px #808080;
    box-shadow: 10px 10px 5px #666699;
}   

.desno {
    float: right;
    height:100%;
    width:85%;
}

.plosca {
    width:100%;
    height:100%;
    overflow:auto;
}

.levaPor {
    float: left;
    width:10%;
    height:100%;
}

.profilUporabnika {
    float: left;
    width:80%;
    height:100%;
}

.desnaPor {
    font-weight:bold;
    float: right;
    width:10%;
    height:100%;
} 

.slikaUporabnika {
    margin:5% auto;
    width:70%;
}

.slika {
    width:60%;
    height:60%;
}

.ImePriimek {
    margin:5% auto;
    width:70%;
    height:5%;
    font-weight:bold;
}

.meritve {
    margin:3% auto;
    width:70%;
    height:5%;
    font-weight:bold;
}

.oznaka {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.voda {
    margin:3% auto;
    width:70%;
    height:5%;
    font-weight:bold;
}

.dan {
    margin:3% auto;
    width:70%;
    height:5%;
    font-weight:bold;
}

.vaje {
    margin:3% auto;
    width:70%;
    height:5%;
    font-weight:bold;
}

.telovadnice {
    margin:3% auto;
    width:70%;
    height:5%;
    font-weight:bold;
}

.teza {
    display: none;
    margin:2% 0 0 20%;
    width:60%;
    height:5%;
    font-weight:bold;
}

.visina {
    display: none;
    margin:2% 0 0 20%;
    width:60%;
    height:5%;
    font-weight:bold;
}

.temperatura {
    display: none;
    margin:2% 0 0 20%;
    width:70%;
    height:5%;
    font-weight:bold;
}

.krvniTlak {
    display: none;
    margin:2% 0 0 20%;
    width:60%;
    height:5%;
    font-weight:bold;
}

.kisik {
    display: none;
    margin:2% 0 0 20%;
    width:60%;
    height:5%;
    font-weight:bold;
}
@media screen and (min-width: 62em) {
	.desnaPor {
		display: none;
	}
}
@media screen and (max-width: 61.99em) {
   
	.levo {
	    display: none;
        width:50%;
        overflow: auto;
	}
    .levaPor {
        width:5%;
    }
    .profilUporabnika {
        width:85%;
    }
    .slikaUporabnika {
        margin:1% auto;
        width:80%;
    }
    .slika {
        width:30%;
        height:30%;
    }
    .ImePriimek {
        margin: 0.3% auto;
        width:80%;
        height:2%;
    }
    .meritve {
        margin: 0.3% auto;
        width:80%;
        height:2%;
    }
    .voda {
        margin: 0.3% auto;
        width:80%;
        height:2%;
    }
    .dan {
        margin: 0.3% auto;
        width:80%;
        height:2%;
    }
    .vaje {
        margin: 0.3% auto;
        width:80%;
        height:2%;
    }
    .telovadnice {
        margin: 0.3% auto;
        width:80%;
        height:2%;
    }
}