html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
#container {
    height: 100%;
}
.homePage {
    width:100%;
    height:100%;
    background:url('../slike/w.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
}
.prijava {
    padding-left:0;
    margin: auto;
    background-size: 100%;
    width: 50%;
    height: 50%; 
}
.panel-body input {
    margin:1% 0 1% 0;
}
.panel-body button {
    font-weight:bold;
    color: #aab2bd;
    text-transform: uppercase;
    cursor: default;
    border-bottom-color:black;
}
.prof {
    display:none;
}

@media screen and (max-width: 61.75em) {
	.prijava {
		width: 100%;
	}
}
#uporabnikImeInPriimek {
    display:none;
}
#preberiPredlogoBolnika {
    float:right;
    margin:2% auto;
}
#prikatiSkrij {
    display:none;
    float:right;
    margin:2% auto;
}
#humanBody {
    width:50%;
    height:100%;
    background:url('http://thumbs.dreamstime.com/z/human-body-image-31257066.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
}
#Jack {
    display:none;
}
#Jensen {
    display:none;
}
#Jesse {
    display:none;
}