html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#container > header {
    margin: 0 auto;
    padding: 2em;
}

#container {
    height: 100%;
}

#container > header {
    text-align: center;
    background: rgba(0,0,0,0.01);
}

#container > header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

#container > header span {
    display: block;
    font-size: 60%;
    opacity: 0.3;
    padding: 0 0 0.6em 0.1em;
}

.bb-nav-first i{
    font-size: 18px !important;
}

/* Bookblock */
.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.wrapper .bb-bookblock {
	width: 100%;
	height: 100%;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	perspective: 2000px;
}


.firstpage h1 {
    font-family: "Times New Roman", Times, serif;s
	font-size: 50px;
	line-height: 2.3;
	margin: 0;
	font-weight: bold;
    color: #fff;
    text-align: center;
}

.firstpage {
	text-align: center;
	padding-top: 15%;
	width: 100%;
	height: 100%;
    background: url('../slike/health.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 30px;
	line-height: 40px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.icon-first:before,
.icon-last:before {
	content: "\e002";
}

.icon-arrow-left:before,
.icon-arrow-right:before {
	content: "\e003";
}

.icon-arrow-left:before,
.icon-first:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .wrapper {
	height: auto;
}
.presledek {
    height:300px;
}
.vstop {
    position: relative;
    margin: 50px auto;
    background-size: 100%;
    width:200px;
    background: #434A54;
    color: #aab2bd;
    right: 0px;
    padding: 5px 30px 5px 20px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    top: 50%;
    margin-top: -26px;
    cursor: default;
}

/*
.page-control:hover > i{
    color: #4FC1E9;
}

.bb-title .bb-nav-prev{
    margin-left: 70px;
}

.bb-title .bb-nav-next{
    margin-left: 5px;
}

.success{
    color: #8CC152 !important;
}

.warning{
    color: #F6BB42 !important;
}

.danger{
    color: #DA4453 !important;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: auto;
    max-height: 88%;
}*/
